.bg {
  height: 100vh;
  background-repeat:no-repeat;
  background-size:cover;
  opacity : 0.85;
}

.title {
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 40vh;
  margin-bottom: 1rem;
}

.text {
  font-weight: 800;
  margin-bottom: 1rem;
}
